ul {
  list-style: none;
}
.text-nav {
  text-decoration: none;
}
:root {
  --Primary-brand: #4d5ae5;
  --Pressed-state: #404bbf;
  --Dark: #525357;
  --Success: #31d0aa;
  --Text: #ffffff;
  --Subtle-text: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --button-active: #404bbf;
  --whait-text-color: #ffffff;

  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

.body {
  background-color: var(--whait-text-color);
  color: var(--Text);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.body {
  width: 1440px;
}

.body-main .header-first {
  display: flex;
  justify-content: first baseline;
  align-items: center;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Dark);
  text-decoration: none;
}
.header-logo span {
  color: #4d5ae5;
}
.conteiner {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
  background-color: #ffffff;
}
.header-navigation {
  display: flex;
  margin-right: auto;
}
.header-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Dark);
  text-decoration: none;
}
.nav-link:hover {
  color: #404bbf;
  text-decoration: underline;
}

.header-contact {
  display: flex;
}

.header-sait {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.kontact-link {
  margin-right: 40px;
}

.header-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.kontact-link:hover {
  text-decoration: underline;
}
.kontact-link-tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.kontact-link-tel:hover {
  color: #404bbf;
  text-decoration: underline;
}

.hero {
  background: #2e2f42;
  padding: 168px 473px 292px 473px;
}
.hero-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 494px;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.visually-text {
  display: flex;
  gap: 24px;
  padding-left: 156px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  max-width: 264px;
}

.section-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-photo {
  display: flex;
  gap: 24px;
  padding-left: 156px;
}

.section-color {
  background: #f4f4fd;
  width: 1440px;
  padding-bottom: 120px;
}
.section-team {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-team-photo {
  display: flex;
  gap: 24px;
  padding-left: 156px;
}
.section-men {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-mentext {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.style {
  background-color: #2e2f42;
  width: 1440px;
}
.foter-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
  padding: 100px 1240px 16px 156px;
}
.foter-link span {
  color: #4d5ae5;
}
.foter-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
  padding: 0px 1020px 100px 156px;
}

.hiro {
  display: flex;
  gap: 24px;
  padding-left: 427px;
  margin-top: 68px;
}
.hiro-but-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #e7e9fc;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.hiro-but-p:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.visually {
  padding-top: 72px;
  padding-bottom: 120px;
}
.visually-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 156px;
}

.sectionh2-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
