body {
  font-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
}
.text-nav {
  text-decoration: none;
}
:root {
  --Primary Brand:  #4D5AE5;
  --Pressed state:  #404BBF;
  --Dark: #2E2F42;
  --Success: #31D0AA;
  --Text: #FFFFFF;
  --Subtle Text: #8E8F99;
  --Accent: #E7E9FC;
  --Light: #F4F4FD;
  --button-active: #404bbf;
  --whait-text-color: #ffffff;

  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  background-color: var(--whait-text-color);
  color: var(--Text);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.header-logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;
}
.header-logo span {
  color: #4d5ae5;
}
.nav-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration: none;
}

.header-sait {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.header-tel {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.kontact-link {
  font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.hero {
  background: #2e2f42;
}
.hero-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-button {
   background-color: #4D5AE5;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #FFFFFF;
  }

.hero-button:hover {
  background-color:#404BBF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.paragraph {
  font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-work {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.section-color {
  background: #F4F4FD;
}
.section-team {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-men {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-mentext {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.style {
background-color: #2E2F42;
}
.foter-link {
 font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
text-decoration: none;
}
.foter-link span {
  color: #4d5ae5;
}
.foter-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #E7E9FC;
}
.hiro-but-pm {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5
}
.hiro-but-pm:hover {
  background-color: #404BBF ;
}
  
.hiro-but-p {
 font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background-color:  #F4F4FD;
}
.sectionh2-p {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.section-text-p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}